@media only screen and (max-width: 1183px)  {
    /* .container .containerBox .box:last-child {
        margin-right: 35%;
        
    } */

    .container .containerBox .box {
        margin: 0;
    }
    .title {
        font-size: 2.5em;
    } 
    
    
}   
@media only screen and (max-width: 768px)  {
    /* .container .containerBox .box:last-child {
        margin: auto;
        
    } */
    .container .containerBox .box {
        margin-top: 20px;
        
    }
    .container .containerBox .box--img {
        width: 450px;
    }
    .container .containerBox .box--titleSub {
        
            font-size: 20px;
            width: 350px;
            font-weight: 400;
    }
}

@media only screen and (max-width: 360px) {
    .menu_item {
        width: 100%;
    }
}