




@media only screen and (max-width: 1200px)  {
    
    .container .containerBox {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .menu {
        
        margin: auto;
    }
    .menu__item {
        margin-bottom: 12px;
    }
    
}
@media only screen and (max-width: 992px)  {
    
    .menu {
        
        margin: auto;
    }
    .menu__item {
        margin-bottom: 12px;
    }
}
/* @media only screen and (min-width: 577px) {
    .container .containerBox {
        max-width: 576px;
    }
    .container .containerBox .box {
        margin: 0;
    }
} */




@media only screen and (max-width: 767px) {
    /* body {
        width: 100%;
        margin: auto;
    } */
    .container .containerBox {
        width: 100%;
    }
    .container .containerBox .box--img {
        width: 100%;
    }
    .container .containerBox .box {
        width: 100%;
        margin: 0 30px;
    }
    
}
