:root {
    --gap: 30px;
    --number: 1;
  }
@media only screen and (max-width: 1200px)  {
    
    .container .containerBox {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .menu {
        
        margin: auto;
    }
    .menu__item {
        margin-bottom: 12px;
    }
    
}
@media only screen and (max-width: 992px)  {
    
    .menu {
        
        margin: auto;
    }
    .menu__item {
        margin-bottom: 12px;
    }
}
/* @media only screen and (min-width: 577px) {
    .container .containerBox {
        max-width: 576px;
    }
    .container .containerBox .box {
        margin: 0;
    }
} */



@media only screen and (max-width: 767px) {
    /* body {
        width: 100%;
        margin: auto;
    } */
    .container .containerBox {
        width: 100%;
    }
    .container .containerBox .box--img {
        width: 100%;
    }
    .container .containerBox .box {
        width: 100%;
        margin: 0 30px;
    }
    
}

@media only screen and (max-width: 576px) {
    .order {
        width: 100%;
        
        
    }
    .order__top {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        
    }
    .order__bot {
        
        margin: 0 30px;
        margin-top: 25px;
    }

    .order__bot .boxFood {
        
        width: calc((100% - (var(--gap) * (var(--number) - 1))) / var(--number));
    }
}

@media only screen and (min-width: 576px) {
    .order {
        max-width: 540px;
        margin-top: 25px;
    }

    
    .order__bot .boxFood {
       
        width: calc((100% - (var(--gap) * (var(--number) - 1))) / var(--number));
    }
}

@media only screen and (min-width: 768px) {
    .container .containerBox .box {
        margin: 0;
    }
    /* question */
    .order {
        max-width: 720px;
    }
    :root {
        --number: 2;
      }
}

@media only screen and (min-width: 992px) {
    
    /* question */
    .order {
        max-width: 960px;
    }
    :root {
        --number: 3;
      }
}
@media only screen and (min-width: 1200px) {
    
    /* question */
    .order {
        max-width: 1140px;
    }
    :root {
        --number: 4;
      }
}
/* xs
<576px	sm
≥576px	md
≥768px	lg
≥992px	xl
≥1200px	xxl
≥1400px */

/* 540px	720px	960px	1140px	1320px */
